* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "fonts";
@import "main-wrapper";
@import "aside";
@import "logo";
@import "main-menu";
@import "bottom-menu";
@import "main";
@import "top-menu";
@import "dashboard";
@import "button";
@import "dashboard-menu";
@import "content-list";
@import "social-card";
@import "modal";
@import "form";
